
@font-face {
  font-family: "HakgyoansimSantteutdotumL";
  src: url("/src/fonts/HakgyoansimSantteutdotumL.ttf") format("truetype");
}

.header_img{
  width: 10rem;
}
.manager_nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffcd4a;
  font-family: "HakgyoansimSantteutdotumL";
  opacity: 0.9;
  height: 70px;
  margin-left: 6rem;
}

.manager_nav_item {
  /* position: absolute; */
  width: 100%;
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: space-between;

}
.manager_nav_item h3 {
  color: black;
}
a {
  text-decoration: none;
}

.manager_dropdown_content {
  display: none;
  position: absolute;
  top: 138%;
  left: 0;
  background-color: #ffe194;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150%;
  text-align: center;
  margin-left: -10px;
}

.manager_nav_item:hover .manager_dropdown_content {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.manager_dropdown_content p {
  color: black;
}
.manager_dropdown_content p:hover {
  font-weight: bold;
}
