@font-face {
  font-family: "HakgyoansimSantteutdotumL";
  src: url("/src/fonts/HakgyoansimSantteutdotumL.ttf") format("truetype");
}
.manager_index {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
  margin: auto;
}
.manager_index_text {
  font-family: "HakgyoansimSantteutdotumL";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 50vh;
  margin: auto;
}
.manager_index_text h1 {
  font-size: 500%;
}
.manager_index_text p {
  font-size: 130%;
}
.manager_index_img {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 50vh;
}
.manager_index_img1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.manager_index_img2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.manager_index_img img {
  width: 500px;
  height: 425px;
}
