컨테이너 섹션

.ManagerUpdateStudySetting {
    width: auto;
    height: auto;
}

.ManagerUpdateStudySetting-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.ManagerUpdateStudySetting-Container-Items {
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
}

.ManagerUpdateStudySetting-Container-Items button {
    width: 5rem;
    height: 2rem;
}


/* 카페 카공 여부 섹션 */

.ManagerUpdateStudySetting-CafeIf {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.ManagerUpdateStudySetting-CafeIf h2 {
    width: 50%;
    justify-content: center;
    text-align: center;
}

.ManagerUpdateStudySetting-CafeIf-Container {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.ManagerUpdateStudySetting-CafeIf-Container button {
    margin: 2rem 0;
    margin-right: 1.2rem;
}

.ManagerUpdateStudySetting-CafeIf-Text {
    border: 0.1rem solid;
    border-radius: 10px;
    width: 60%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.ManagerUpdateStudySetting-CafeIf-Option input {
    font-size: 0rem;
    width: 2rem;
    margin: 1.6rem 0;
    margin-left: 1rem;
    padding-top: 1.3rem;
}


/* 카페 카공 평면도 섹션 */

.ManagerUpdateStudySetting-FloorPlan {
    width: 80%;
    display: flex;
    flex-flow: column;
    margin-top: 3rem;
}

.ManagerUpdateStudySetting-FloorPlan-Container {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.ManagerUpdateStudySetting-FloorPlan h2 {
    width: 40%;
    text-align: center;
}

.ManagerUpdateStudySetting-FloorPlan-Container button {
    margin-top: 20rem;
}

.ManagerUpdateStudySetting-FloorPlan-img {
    width: 24rem;
    height: 20rem;
    margin-top: 2rem;
}

.ManagerUpdateStudySetting-FloorPlan-img img {
    width: 24rem;
    height: 20rem;
    object-fit: contain;
}

.ManagerUpdateStudySetting-FloorPlan-Container-Update {
    display: flex;
    flex-flow: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 70%;
    border: 0.1rem solid #ccc;
    /* 테두리 색상을 은은한 회색으로 설정 */
    background-color: #f9f9f9;
    /* 배경색을 기본 하얀색에서 조금 더 은은한 색으로 변경 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    /* 상자 그림자 효과 추가 */
    padding: 1.5rem;
    /* 안쪽 여백 추가 */
    border-radius: 10px;
    /* 모서리 둥글게 */
    transition: all 0.3s ease-in-out;
    /* 부드러운 전환 효과 */
}

.FloorPlan-Update {
    margin-left: auto;
    margin-right: auto;
}

.custom-file-upload {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.custom-file-upload:hover {
    background-color: #e9e9e9;
}

.ManagerUpdateStudySetting-FloorPlan-Buttons {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
}

.ManagerUpdateStudySetting-SeatContainer{
    margin-top: 5rem;
    width: 60%;
    height: auto;
}

.ManagerUpdateStudySetting-SeatContainer h2{
width: 60%;
margin-bottom: 3rem;
margin-right: 2rem;
text-align: start;

}

.ManagerUpdateStudySetting-SeatSection{
    margin-top: 1.5rem;
    margin-left: 2rem;
}


.ManagerUpdateStudySetting-SeatItems{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-left: 1rem;
}

.ManagerUpdateStudySetting-SeatText{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.ManagerUpdateStudySetting-SeatInput{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    
}
.ManagerUpdateStudySetting-SeatInput input{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 2rem;
}


.ManagerUpdateStudySetting-SeatButtons{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    margin: 0 2rem;
}


.ManagerUpdateStudySetting-SeatPrint{
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    height: auto;
   
    
}
.ManagerUpdateStudySetting-SeatPrint input{
    width: 99%;
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0;
    text-align: center;
    justify-content: end;
    font-size: 1.5rem;
    font-weight: bold;
}

.hidden {
    display: none;
}