
.manager-background{
     /* background-image: url(../img/mng_background_img.png); */
  /* background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed; */
}