.ManagerSide-container {
    /* 사이드바 컨테이너에 대한 스타일 */
  }
  
  .ManagerSide-container-items {
    /* 링크들을 담고 있는 컨테이너에 대한 스타일 */
  }
  
  .ManagerSide-container-items a {
    /* 모든 NavLink에 대한 기본 스타일 */
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .ManagerSide-container-items .active {
    /* 활성화된 NavLink에 대한 스타일 */
    color: white;
    background-color: #007bff;
  }
  