.ManagerSide-container{
width: 18rem;
margin-left:8rem;
margin-top: 3rem;
position: fixed;


}

.ManagerSide-container-items{
display: flex;
flex-flow: column;
justify-content: space-around;
text-align: center;
height: auto;
background-color: white;
border: 0.1rem solid;

}

.updatecafebasic{
    box-shadow: inset 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.ManagerSide-container-items p{
font-size: 1.5em;
margin: 2rem 0;

}

.updateText {
    padding: 1rem;
}

.updateText span{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    
}

.hidden{
    display: none;
}

.yellow{
    background-color: #FFCD4A;
}

.no-select{
    color: rgb(196, 196, 196);
}
