@font-face {
  font-family: "HakgyoansimSantteutdotumL";
  src: url("/src/fonts/HakgyoansimSantteutdotumL.ttf") format("truetype");
}


p, span, h2, label{
  font-family: "HakgyoansimSantteutdotumL";
}

input{
  padding-left: 1rem;
}

button {
  font-family: "HakgyoansimSantteutdotumL";
  background-color: #FFCD4A;
  color: black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}