@font-face {
  font-family: "HakgyoansimSantteutdotumL";
  src: url("/src/fonts/HakgyoansimSantteutdotumL.ttf") format("truetype");
}

.user_myReservation-container {
  width: 60%;
  height: 65vh;
  margin: 50px auto 0;
}

.myReservation-title p {
  font-weight: bold;
  font-size: 30px;
  font-family: "HakgyoansimSantteutdotumL";
  margin-top: 50px;
  text-align: center;
}

.myReservation-title hr {
  margin-bottom: 50px;
  width: 20%;
}
.user_tab-buttons {
  margin-top: 50px;
  margin-left: 100px;
}
