#map {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin-right: -5%;
}
.map_nav {
  width: 100%;
}
.map_button {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-top: 48vh;
  width: 50%;
  text-align: center;
  z-index: 1;
  margin-left: 47%;
}
.map_button .map_button1 {
  height: 40px;
  border: none;
  opacity: 0.8;
  border-radius: 10px;
  width: 150px;
}
.map_button .map_button2 {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-top: -1vh;
  background-color: #e8e8e8;
}
.map_button .map_button2 img {
  width: 25px;
  margin: auto;
}
.searchnav {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 4.5%;
  text-align: center;
  z-index: 1;
  font-size: 80%;
  box-shadow: 5px;
}
.searchnav-right {
  position: absolute;
  background-color: white;
  height: 100vh;
  top: 10px;
  margin-top: -10px;
  left: 4.5%;
  width: 20%;
  text-align: start;
  z-index: 1;
}
.searchnav_to_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto;
}
.searchnav_to_home img {
  width: 30%;
  margin: auto;
}
.searchnav h5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  margin: auto;
}

.searchnav h5:hover {
  color: #ffcd4a;
}
.searchtest {
  position: relative;
  width: 20%;
  flex: 1;
}
.searchnav_map img {
  width: 30%;
  margin: auto;
}
.searchnav_time img {
  width: 30%;
  margin: auto;
}
.searchnav_mypage img {
  width: 30%;
  margin: auto;
}
.searchnav_calendar img {
  width: 30%;
  margin: auto;
}
.searchnav_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto;
}
.searchnav_time a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto;
  color: black;
}
.searchnav_mypage a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  margin: 35px auto;
}
.searchnav_calendar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  margin: 35px auto;
}
