#map {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin-right: -5%;
}
.map_nav {
  width: 100%;
}

.searchnav {
  position: absolute;
  background-color: white;
  height: 100vh;
  top: 10px;
  margin-top: -10px;
  width: 5%;
  text-align: center;
  z-index: 1;
}
.searchnav-right {
  position: absolute;
  background-color: white;
  height: 100vh;
  top: 10px;
  margin-top: -10px;
  left: 5%;
  width: 20%;
  text-align: start;
  z-index: 1;
}
.searchnav_to_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto;
}
.searchnav_to_home img {
  width: 100%;
}
.searchnav h5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  margin: auto;
}
.searchtest {
  position: relative;
  width: 20%;
  flex: 1;
}
.searchnav_map img {
  width: 30%;
  margin: auto;
}
.searchnav_time img {
  width: 30%;
  margin: auto;
}
.searchnav_mypage img {
  width: 30%;
  margin: auto;
}
.searchnav_calendar img {
  width: 30%;
  margin: auto;
}
.searchnav_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto;
}
.searchnav_time a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto;
  color: black;
}
.searchnav_mypage a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  margin: 35px auto;
}
.searchnav_calendar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  margin: 35px auto;
}
