.cafe-register-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cafe-register-title {
  width: 25%; /*hr 길이조절*/
  margin-top: 1.5rem;
}

.cafe-register-title p{
  font-size: 2rem;
  text-align: center;
}

.cafe-register-content{
  font-size: 2rem;
  margin-top: 2%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.type-radio div{
  padding: 0 1.5rem;
}

