@font-face {
  font-family: "HakgyoansimSantteutdotumL";
  src: url("/src/fonts/HakgyoansimSantteutdotumL.ttf") format("truetype");
}

.reservation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  width: 66%;
  border: 3px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: "HakgyoansimSantteutdotumL";
  height: 100px;
}

.inprogress-name {
  font-weight: bold;
  font-size: 25px;
  margin: 20px;
}

.inprogress-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 100px;
  font-size: 20px;
}

.inprogress-info div {
  margin-top: 5px;
}


.inprogress-button {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.inprogress-button button {
  background-color: #E3B488;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
}

.inprogress-button button:hover {
  background-color: #ac7643; /* Button background color on hover */
}