@font-face {
  font-family: "HakgyoansimSantteutdotumL";
  src: url("/src/fonts/HakgyoansimSantteutdotumL.ttf") format("truetype");
}

.reservation-status-title {
  margin-top: 45px;
  margin-left: 17%;
  font-weight: bold;
  font-size: 30px;
  font-family: "HakgyoansimSantteutdotumL";
}