.upcoming-name {
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  margin-left: 20px;
}

.reservation-item {
  display: flex;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 

}

.reservation-item:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.upcoming-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 100px;
  font-size: 20px;
}

.upcoming-info div {
  margin-top: 5px;
}

.upcoming-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}

.upcoming-button button {
  background-color: #FFCD4A;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.upcoming-button button:hover {
  background-color: #ffd876;
}